USE [DBNegocios]
GO
/****** Object:  Table [dbo].[Establecimiento]    Script Date: 29/05/2026 09:27:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Establecimiento](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[NombreComercial] [varchar](50) NOT NULL,
	[Clave_TipoNegocio] [char](5) NOT NULL,
 CONSTRAINT [PK_Dim Establecimiento] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerfilesRS]    Script Date: 29/05/2026 09:27:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfilesRS](
	[Clave] [char](2) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PerfilesRS] PRIMARY KEY CLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfiles Establecimiento]    Script Date: 29/05/2026 09:27:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfiles Establecimiento](
	[ID_Pest] [int] NOT NULL,
	[ID_Establecimiento] [int] NOT NULL,
	[Clave] [char](2) NOT NULL,
	[URL] [varchar](250) NULL,
 CONSTRAINT [PK_Perfiles Establecimiento] PRIMARY KEY CLUSTERED 
(
	[ID_Pest] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_Perfiles_Redes]    Script Date: 29/05/2026 09:27:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_Perfiles_Redes] AS 
    SELECT 
    E.Nombre AS NOMBRE_DEL_NEGOCIO,
    P.Clave AS RED_SOCIAL,
    P.Nombre AS NOMBRE_DE_RED_SOCIAL,
    PE.URL AS URL_RED_SOCIAL


    FROM [PerfilesRS] AS P
    LEFT JOIN [Perfiles Establecimiento] AS PE
        ON P.Clave = PE.Clave
    LEFT JOIN [Establecimiento] AS E
        ON PE.ID_Pest = E.ID;
GO
/****** Object:  Table [dbo].[Atributos_Web]    Script Date: 29/05/2026 09:27:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Atributos_Web](
	[ID_Atributo] [int] NOT NULL,
	[ID_Establecimiento] [int] NOT NULL,
	[URL_Oficial] [varchar](max) NULL,
	[Tipo_Presencia] [varchar](40) NULL,
	[PermitePedidos] [char](1) NOT NULL,
	[PermiteReservaciones] [char](1) NULL,
	[TieneCarritoCompra] [char](1) NOT NULL,
	[PermiteTransferencias] [char](1) NOT NULL,
 CONSTRAINT [PK_Dim_Atributos_Web] PRIMARY KEY CLUSTERED 
(
	[ID_Atributo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Geografia]    Script Date: 29/05/2026 09:27:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Geografia](
	[ID_Geografia] [int] NOT NULL,
	[Nombre_Zona] [nchar](10) NOT NULL,
	[Afluencia_Peatonal] [varchar](10) NOT NULL,
	[Es_zona_turistica] [char](1) NOT NULL,
 CONSTRAINT [PK_Dim_Geografia] PRIMARY KEY CLUSTERED 
(
	[ID_Geografia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sucursal]    Script Date: 29/05/2026 09:27:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursal](
	[ID_Sucursal] [int] NOT NULL,
	[ID_Establecimiento] [int] NOT NULL,
	[Direccion] [varchar](50) NOT NULL,
	[Latitud] [float] NOT NULL,
	[Longitud] [float] NOT NULL,
	[Telefono] [bigint] NULL,
	[Hay_Wifi_Alpublico] [bit] NOT NULL,
	[ID_Geografia] [int] NOT NULL,
 CONSTRAINT [PK_Sucursal] PRIMARY KEY CLUSTERED 
(
	[ID_Sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_datos]    Script Date: 29/05/2026 09:27:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_datos] AS 
    SELECT E.NombreComercial AS Nombre_Comercio, 
    E.Clave_TipoNegocio AS Tipo_de_Negocio, 
    S.Direccion AS Domicilio,
    G.Nombre_Zona AS Nombre_de_la_Zona, 
    G.Afluencia_Peatonal AS Afluencia_de_peatones,
    W.URL_Oficial AS Url_de_Pagina

    FROM [Establecimiento] AS E
    LEFT JOIN [Sucursal] AS S 
        ON E.ID = S.ID_Establecimiento
    LEFT JOIN Geografia AS G
        ON G.ID_Geografia = S.ID_Sucursal
    LEFT JOIN Atributos_Web AS W
        ON W.ID_Atributo = E.ID;
GO
/****** Object:  Table [dbo].[Presencia Posicionamiento Digital]    Script Date: 29/05/2026 09:27:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Presencia Posicionamiento Digital](
	[ID_Fact] [int] NOT NULL,
	[ID_Tiempo] [int] NULL,
	[ID_Sucursal] [int] NOT NULL,
	[Rating_Promedio] [decimal](2, 1) NULL,
	[Seguidores] [int] NULL,
	[Engagement_Rate] [float] NULL,
	[Total_Reseñas] [int] NULL,
	[Sentimiento_Dominante] [varchar](50) NULL,
 CONSTRAINT [PK_Fact Presencia Posicionamiento Digital] PRIMARY KEY CLUSTERED 
(
	[ID_Fact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_Relacion_Seguidores_Zona]    Script Date: 29/05/2026 09:27:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_Relacion_Seguidores_Zona] AS 
    SELECT 
    
    E.Nombre            AS Nombre_Negocio,
    F.Seguidores            AS Total_Seguidores,
    G.Nombre_Zona           AS Zona,
    G.Afluencia_Peatonal    AS Afluencia_Peatonal,
    G.Es_zona_turistica     AS Es_Zona_Turística

FROM [Presencia Posicionamiento Digital] AS F
INNER JOIN [Sucursal] AS S 
    ON F.ID_Sucursal = S.ID_Sucursal  
INNER JOIN [Geografia] AS G 
    ON S.ID_Geografia = G.ID_Geografia  
INNER JOIN [Establecimiento] AS E 
    ON S.ID_Establecimiento = E.ID;
GO
/****** Object:  View [dbo].[V_Relacion_WifiAlPublico_NumeroOpiniones]    Script Date: 29/05/2026 09:27:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_Relacion_WifiAlPublico_NumeroOpiniones] AS 
    SELECT 
    
    E.Nombre AS Nombre_Del_Negocio,
    S.Hay_Wifi_Alpublico AS Hay_Wifi_Alpublico,
    P.Total_Reseñas AS Total_Opiniones

    FROM [Presencia Posicionamiento Digital] AS P
    INNER JOIN [Sucursal] AS S 
    ON P.ID_Sucursal = S.ID_Sucursal
    INNER JOIN Establecimiento AS E 
    ON S.ID_Establecimiento = E.ID;
GO
/****** Object:  View [dbo].[V_Relacion_ZonaTuristica_AlSentimiento]    Script Date: 29/05/2026 09:27:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_Relacion_ZonaTuristica_AlSentimiento] AS
    SELECT
    E.Nombre AS Nombre_Negocio,
    S.Direccion AS Direccion,
    G.Nombre_Zona AS Nombre_Zona,
    G.Es_zona_turistica AS Zona_Turistica,
    P.Sentimiento_Dominante
    
from [Presencia Posicionamiento Digital] as P
INNER JOIN Sucursal as S
ON P.ID_Sucursal = S.ID_Sucursal
INNER JOIN Establecimiento as E
ON S.ID_Establecimiento = E.ID
INNER JOIN Geografia as G
ON S.ID_Geografia = G.ID_Geografia;
GO
/****** Object:  View [dbo].[V_Relacion_ZonaTuristica_NumeroOpiniones]    Script Date: 29/05/2026 09:27:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_Relacion_ZonaTuristica_NumeroOpiniones] AS
SELECT 
    E.Nombre AS Nombre_Negocio,
    G.Es_zona_turistica AS Zona_Turistica,
    P.Total_Reseñas AS Total_Opiniones
FROM [Presencia Posicionamiento Digital] AS P
INNER JOIN Sucursal AS S 
    ON P.ID_Sucursal = S.ID_Sucursal
INNER JOIN Establecimiento AS E 
    ON S.ID_Establecimiento = E.ID
INNER JOIN Geografia AS G 
    ON S.ID_Geografia = G.ID_Geografia;
GO
/****** Object:  Table [dbo].[Tiempo]    Script Date: 29/05/2026 09:27:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tiempo](
	[Fecha] [date] NOT NULL,
	[Temporada] [varchar](50) NULL,
	[id_tiempo] [int] NOT NULL,
	[Fecha_Inicio] [date] NULL,
	[Fecha_Fin] [date] NULL,
	[mes] [int] NULL,
	[anio] [int] NULL,
 CONSTRAINT [PK_Dim Tiempo] PRIMARY KEY CLUSTERED 
(
	[id_tiempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoNegocio]    Script Date: 29/05/2026 09:27:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoNegocio](
	[Clave] [char](5) NOT NULL,
	[Nombre] [varchar](25) NOT NULL,
	[Descripcion] [varchar](220) NOT NULL,
 CONSTRAINT [PK_Dim TipoNegocio] PRIMARY KEY CLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Atributos_Web]  WITH CHECK ADD  CONSTRAINT [FK_Atributos_Web_Establecimiento] FOREIGN KEY([ID_Establecimiento])
REFERENCES [dbo].[Establecimiento] ([ID])
GO
ALTER TABLE [dbo].[Atributos_Web] CHECK CONSTRAINT [FK_Atributos_Web_Establecimiento]
GO
ALTER TABLE [dbo].[Establecimiento]  WITH CHECK ADD  CONSTRAINT [FK_Dim Establecimiento_Dim TipoNegocio] FOREIGN KEY([Clave_TipoNegocio])
REFERENCES [dbo].[TipoNegocio] ([Clave])
GO
ALTER TABLE [dbo].[Establecimiento] CHECK CONSTRAINT [FK_Dim Establecimiento_Dim TipoNegocio]
GO
ALTER TABLE [dbo].[Perfiles Establecimiento]  WITH CHECK ADD  CONSTRAINT [FK_Perfiles Establecimiento_Establecimiento] FOREIGN KEY([ID_Establecimiento])
REFERENCES [dbo].[Establecimiento] ([ID])
GO
ALTER TABLE [dbo].[Perfiles Establecimiento] CHECK CONSTRAINT [FK_Perfiles Establecimiento_Establecimiento]
GO
ALTER TABLE [dbo].[Perfiles Establecimiento]  WITH CHECK ADD  CONSTRAINT [FK_Perfiles Establecimiento_PerfilesRS] FOREIGN KEY([Clave])
REFERENCES [dbo].[PerfilesRS] ([Clave])
GO
ALTER TABLE [dbo].[Perfiles Establecimiento] CHECK CONSTRAINT [FK_Perfiles Establecimiento_PerfilesRS]
GO
ALTER TABLE [dbo].[Presencia Posicionamiento Digital]  WITH CHECK ADD  CONSTRAINT [FK_Fact Presencia Posicionamiento Digital_Dim Tiempo1] FOREIGN KEY([ID_Tiempo])
REFERENCES [dbo].[Tiempo] ([id_tiempo])
GO
ALTER TABLE [dbo].[Presencia Posicionamiento Digital] CHECK CONSTRAINT [FK_Fact Presencia Posicionamiento Digital_Dim Tiempo1]
GO
ALTER TABLE [dbo].[Presencia Posicionamiento Digital]  WITH CHECK ADD  CONSTRAINT [FK_Presencia Posicionamiento Digital_Sucursal] FOREIGN KEY([ID_Sucursal])
REFERENCES [dbo].[Sucursal] ([ID_Sucursal])
GO
ALTER TABLE [dbo].[Presencia Posicionamiento Digital] CHECK CONSTRAINT [FK_Presencia Posicionamiento Digital_Sucursal]
GO
ALTER TABLE [dbo].[Sucursal]  WITH CHECK ADD  CONSTRAINT [FK_Dim Sucursal_Dim Establecimiento] FOREIGN KEY([ID_Establecimiento])
REFERENCES [dbo].[Establecimiento] ([ID])
GO
ALTER TABLE [dbo].[Sucursal] CHECK CONSTRAINT [FK_Dim Sucursal_Dim Establecimiento]
GO
ALTER TABLE [dbo].[Sucursal]  WITH CHECK ADD  CONSTRAINT [FK_Dim Sucursal_Dim_Geografia] FOREIGN KEY([ID_Geografia])
REFERENCES [dbo].[Geografia] ([ID_Geografia])
GO
ALTER TABLE [dbo].[Sucursal] CHECK CONSTRAINT [FK_Dim Sucursal_Dim_Geografia]
GO
